<h2>Generi</h2>
<a routerLink="/">Torna alla home</a>
<ul *ngIf="this.genreService.genres.length">
    <li *ngFor="let genre of this.genreService.genres" [ngClass]="{deleting: genre.createdBy == 'garbageCollector'}" >
        {{genre.name}}
        <span *ngIf="genre.createdBy == this.userService.getLoggedUser().id">
            <br>

            <a routerLink="/genres/edit" (click)="edit(genre)">modifica</a>
            <a (click)="this.genreService.deleteGenre(genre)">elimina</a>
        </span>
    </li>

</ul>

<a routerLink="/genres/add">aggiungi</a>