<h2>{{title}}</h2>


<label for="cerca">Cerca film </label><input type="text" name="cerca" id="cerca" (input)="search($event)"> <br>
<a routerLink="/">Torna alla home</a>



<div class="filmlist">
    <div *ngFor="let film of filteredFilms" class="detailBox">
        <div>
            <span class="info">{{film.title}}</span>
            <span class="info">{{"☆".repeat(film.stars)}}</span>
            <span class="info">{{film.duration}}</span>
            <button (click)="film.detail = true" [class.hidden]="film.detail">espandi</button>
            <button (click)="film.detail = false" [class.hidden]="!film.detail">riduci</button>
            <span class="info" [class.hidden]="!film.detail">
                <ul *ngIf="film.cast.length">
                    Con:
                    <li *ngFor="let actor of film.cast">
                        {{actor.firstname}} {{actor.lastname}}
                    </li>
                </ul>
            </span>
            <span class="info" [class.hidden]="!film.detail">{{film.releaseYear}}</span>
            <span class="info" [class.hidden]="!film.detail">
                <ul *ngIf="film.genres.length">
                    Genere:
                    <li *ngFor="let genre of film.genres">
                        {{genre.name}}
                    </li>
                </ul>
            </span>            <span class="info" [class.hidden]="!film.detail">{{film.tags}}</span>
            <span class="controls">
                <a  routerLink="/films/edit" (click)="edit(film)">modifica</a>
                <a  (click)="this.filmService.deleteFilm(film)">elimina</a>

            </span>


        </div>
    </div>
</div>

<a routerLink="/films/add">Aggiungi</a>