<h2>{{title}}</h2>


<p class="controls">
   
    <a routerLink="/">Torna alla home</a>
    <a routerLink="/films/add" *ngIf="this.userService.getLoggedUser()">Aggiungi</a> <br>
    <label for="cerca">Cerca film </label><input type="text" name="cerca" id="cerca"[(ngModel)]="search" > 
</p>



<div class="filmlist">
    <div *ngFor="let film of this.filmService.films | filmFilter:search" class="detailBox" [ngClass]="{deleting: film.createdBy == -1}">
        <img [src]="film.coverUrl" alt="">
        <div>
            <span class="info">{{film.title}}
                <span class="clickable" *ngIf="this.userService.getLoggedUser()">
                    <span *ngIf="this.userService.isFavorite(film)" (click)="this.userService.removeFavorite(film)">
                        ❤
                    </span>
                    <span *ngIf="!this.userService.isFavorite(film)" (click)="this.userService.addFavorite(film)">
                        💔
                    </span>
                </span>
            </span>
            <app-star [film]="film" [ngClass]="{'clickable' : this.userService.getLoggedUser() && film.createdBy == this.userService.getLoggedUser().id}"></app-star>

            <span class="info">{{film.duration}}</span>


            <button (click)="film.detail = true" [class.hidden]="film.detail">espandi</button>
            <button (click)="film.detail = false" [class.hidden]="!film.detail">riduci</button>

        </div>
        <span class="info" [class.hidden]="!film.detail">{{film.description}}</span>
        <!--
        <span class="info" [class.hidden]="!film.detail">{{film.releaseYear}}</span>
        <span class="info" [class.hidden]="!film.detail">{{film.tags}}</span>
        -->

        <span class="info" [class.hidden]="!film.detail">

            <ul *ngIf="film.cast.length">
                Con:
                <li *ngFor="let actor of film.cast" class="code">
                    {{actor.firstname}} {{actor.lastname}}
                </li>
            </ul>
        </span>
        <span class="info" [class.hidden]="!film.detail">

            <ul *ngIf="film.genres.length">
                Genere:
                <li *ngFor="let genre of film.genres" class="code">
                    {{genre.name}}
                </li>
            </ul>


        </span>
        <span 
            *ngIf="this.userService.getLoggedUser() && film.createdBy == this.userService.getLoggedUser().id">
            <a routerLink="/films/edit" (click)="edit(film)">modifica</a>
            <a (click)="this.filmService.deleteFilm(film)">elimina</a>

        </span>


    </div>
</div>