<h2>Dashboard </h2>
<div class="login" *ngIf="!this.userService.getLoggedUser()">
    <label for="username">Username</label><input type="text" name="username" id="username" [(ngModel)]="username">
    <label for="password">Password</label><input type="password" name="password" id="password" [(ngModel)]="password">
    <button (click)="this.login()">login</button>

</div>
<button *ngIf="this.userService.getLoggedUser()" (click)="this.userService.logout()">logout</button>
<h3 *ngIf="this.userService.getLoggedUser()">Bentornato {{this.userService.loggedUser.firstname}}
    {{this.userService.loggedUser.lastname}}</h3>

<div class="list">
    <div class="detailBox">

        <h3>Top Films</h3>
        <ol>
            <li *ngFor="let film of topFilms">
                {{film.title}} 
                <span class="clickable" *ngIf="this.userService.getLoggedUser()">
                    <span  *ngIf="this.userService.isFavorite(film)" (click)="this.userService.removeFavorite(film)">
                        ❤
                    </span>
                    <span *ngIf="!this.userService.isFavorite(film)" (click)="this.userService.addFavorite(film)">
                        💔
                    </span>
                </span>
                <br>
                <app-star [film]="film" [ngClass]="{'clickable' : this.userService.getLoggedUser()}" (voteChanged)="ngOnInit()"></app-star>

            </li>
        </ol>
    </div>

    <div class="detailBox">

        <h3>Ultimi film inseriti</h3>
        <ol>
            <li *ngFor="let film of lastFilms">
                {{film.title}}
                <span class="clickable" *ngIf="this.userService.getLoggedUser()">
                    <span  *ngIf="this.userService.isFavorite(film)" (click)="this.userService.removeFavorite(film)">
                        ❤
                    </span>
                    <span *ngIf="!this.userService.isFavorite(film)" (click)="this.userService.addFavorite(film)">
                        💔
                    </span>
                </span>
            </li>
        </ol>

    </div>
</div>
<a routerLink="/films">Film</a>
<a routerLink="/actors">Attori</a>
<a routerLink="/genres">Generi</a>