/* You can add global styles to this file, and also import other style files */


button, a{
    border: none;
    text-transform: none;
    margin: 0.5em 1em 0 0;
    padding: 0;
    overflow: visible;
    background: transparent;
    color: brown;
    font: inherit;
    cursor: pointer;
    text-decoration: none;
}

.clickable{
    cursor: pointer;
}